<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hengtiansoft.strategy.mapper.HostPortMapper">

    <insert id="insertStrategyHostport" >
        INSERT INTO strategy_hostport(strategy_id, host_port) values (#{strategyId}, #{hostPort})
    </insert>

    <insert id="insertDuplicateHostport" >
        INSERT INTO duplicate_hostport(strategy_id, host_port) values (#{strategyId}, #{hostPort})
    </insert>

    <delete id="deleteStrategyHostport">
        Delete from strategy_hostport where strategy_id = #{strategyId} and host_port = #{hostPort}
    </delete>

    <delete id="deleteDuplicateHostport">
        Delete from duplicate_hostport where strategy_id = #{strategyId} and host_port = #{hostPort}
    </delete>

</mapper>